[submodule "app/sass"]
	path = app/sass
	url = https://github.com/vortexgin/my-sass-library.git
[submodule "app/sales"]
	path = app/sales
	url = https://github.com/vortexgin/my-sales-library.git
[submodule "app/product"]
	path = app/product
	url = https://github.com/vortexgin/my-product-library.git
[submodule "app/warehouse"]
	path = app/warehouse
	url = https://github.com/vortexgin/my-warehouse-library.git
